AWS_PROFILE=<your-profile>
INFRA_ENV=dev
AWS_ACCOUNT_SUFFIX=nonprod

TF_VAR_shopify_admin_token=<shopify-private-token>
TF_VAR_aws_profile=<your-profile>
TF_VAR_google_client_id=
TF_VAR_google_client_secret=
